/* GLOBAL STYLES
-----------------*/
/* 
apply a natural box layout model to all elements
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: url(../images/background-1.jpg) no-repeat fixed 50%;
  background-size: cover;
}

h1, h2, h3 {
  font-weight: 400;
}
h1, h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 32px;
}
h2 {
  font-family: "Pacifico", cursive;
  color: #2980b9;
}
a {
  color: #2980b9;
}

section,
footer {
  padding: 50px 0;
}
.content-wrap {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.download {
  position: fixed;
  top: 0;
  right: 0;
  background: #2980b9;
  color: white;
  padding: 20px;
  text-decoration: none;
}
.download:hover {
  color: #111;
}

/* HEADER
----------*/
header {
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-family: "Pacifico", cursive;
  font-size: 90px;
  text-transform: none;
  margin: 0;
}
header h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  color: #111;
}


/* ABOUT ME 
----------------------*/
.profile {
  background: rgba(0, 0, 0, 0.8);
  color: #fefefe;
}
.profile .content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.profile img {
  border-radius: 50%;
  margin-right: 3%;
  width: 30%;
}


/* WORK EXPERIENCE
-------------------*/
.work {
  background: #fefefe;
}
.item {
  margin-bottom: 50px;
}
.item:first-of-type {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

/* SKILLS
----------*/
.skills {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),
              url(../images/background-3.jpg);
  background-size: cover;
  color: #fefefe;
  padding-bottom: 300px;
  font-size: 20px;
}
.skills ul {
  list-style-type: none;
  padding: 0;
}
.skills-list {
  display: flex;
}
.fa-check {
  color: #2980b9;
}
.columns {
  width: 33%;
}

/* EDUCATION
-------------*/
.education {
  background: #fefefe;
}


/* CONTACT & FOOTER 
--------------------*/
.contact {
  background: #111111;
  color: #fefefe;
  text-align: center;
}
.social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: #fefefe;
  border-radius: 50%;
  margin: 0 10px;
}
