/* GLOBAL STYLES
-----------------*/
body {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: url(../images/background-3.jpg) no-repeat fixed 50%;
  background-size: cover;
}

h1, h2, h3 {
  font-weight: 400;
}
h1, h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 32px;
}
h2 {
  font-family: "Pacifico", cursive;
}

section,
footer {
  padding: 50px 0;
}

.content-wrap {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}


/* HEADER
----------*/
header {
  text-align: center;
  padding: 100px 0;
}
header h1 {
  font-family: "Pacifico", cursive;
  font-size: 80px;
  text-transform: none;
}
header h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
}


/* ABOUT ME 
----------------------*/
.profile {
  background: #8e44ad;
}


/* WORK EXPERIENCE
-------------------*/
.work {
  background: #2980b9;
}


/* SKILLS
----------*/
.skills {
  background: #27ae60;
}


/* EDUCATION
-------------*/
.education {
  background: #16a085;
}


/* CONTACT & FOOTER 
--------------------*/
.contact {
  background: #c0392b;
}
