/* GLOBAL STYLES
-----------------*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after { /* clearfix */
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: 400;
  margin: 0;
}

h2, h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 80px;
}

h2 {
  font-size: 32px;
}
.content-wrap {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}
 

/* HEADER
----------*/
header {
  background: url(../images/background-2.jpg) no-repeat fixed 50%;
  background-size: cover;
  text-align: center;
  padding: 150px 0;
}

/* ABOUT ME / PROFILE
----------------------*/
.profile {
  background: #8e44ad;
}
.profile img {
  float: left;
  width: 30%;
  margin-right: 2%;
}
.summary {
  width: 68%;
  float: right;
}


/* WORK EXPERIENCE
-------------------*/
.work-experience {
  background: #2980b9;
}
.work-experience .details {
  width: 30%;
  float: left;
}
.work-experience .description {
  width: 70%;
  float: right;
}
.work-experience .item {
  border-bottom: 1px solid #ccc;
}
.work-experience .item:last-child {
  border-bottom: none;
}


/* SKILLS
----------*/
.skills {
  background: #27ae60;
}

/* EDUCATION
-------------*/
.education {
  background: #16a085;
}

/* CONTACT & FOOTER 
--------------------*/
.contact {
  background: #c0392b;
}
